<div
  class="flex flex-col gap-y-3 sm:flex-row sm:items-center sm:justify-between"
>
  <a href="/">
    <div
      class="flex items-center bg-clip-text text-xl font-bold"
    >
      Ivan Martinez
    </div>
  </a>
  <nav>
    <ul class="flex gap-x-3 font-medium">
      <li class="hover:text-[#f45b69]">
        <a href="/demo/astro-boilerplate/posts">Blogs</a>
      </li><li class="hover:text-[#f45b69]">
        <a href="/demo/astro-boilerplate">GitHub</a>
      </li><li class="hover:text-[#f45b69]">
        <a href="/demo/astro-boilerplate">Twitter</a>
      </li>
    </ul>
  </nav>
</div>
<!-- <div>
  <a href="/">
    <div>
      Ivan Martinez
    </div>
    <nav>
      <ul>
        <li><a href="">Blogs</a></li>
        <li><a href="">Github</a></li>
        <li><a href="">Twitter</a></li>
      </ul>
    </nav>
  </a>
</div> -->