---
import Favicon from "../../public/favicon.svg";
---

<div class="flex flex-col sm:flex-row sm:justify-between">
  <a href="/" class="flex items-center text-xl font-bold hover:text-[#f45b69] pb-4">
    <img src={Favicon} class="w-8 mr-2 hover:-rotate-12" />
    Ivan Martinez
  </a>
  <div class="flex font-medium">
    <ul class="flex gap-8">
      <a href="" class="hover:text-[#f45b69]">
        <li>Blog</li>
      </a>
      <a href="" class="hover:text-[#f45b69]">
        <li>GitHub</li>
      </a>
      <a href="" class="hover:text-[#f45b69]">
        <li>Twitter</li>
      </a>
    </ul>
  </div>
</div>

