---
import Favicon from "../../public/favicon.svg";
---

<div class="flex flex-col sm:flex-row sm:justify-between">
  <a href="/" class="flex items-center font-bold">
    <img src={Favicon} class="w-8 mr-2" />
    Ivan Martinez
  </a>
  <div class="flex items-center font-medium mt-4">
    <ul class="flex gap-4">
      <a href="">
        <li>Blog</li>
      </a>
      <a href="">
        <li>GitHub</li>
      </a>
      <a href="">
        <li>Twitter</li>
      </a>
    </ul>
  </div>
</div>

