---
import Tecnologies from "./Tecnologies.astro";
import YellowBackground from "./YellowBackground.astro";
---

<YellowBackground>
  <Tecnologies />
  <div class="sm:flex gap-x-12 mt-24">
    <div>
      <h1 class="mb-4 text-2xl">Hola, me llamo Ivan </h1>
      <p class="pb-8">
        Soy un Desarrollador Web Front-end con una pasi贸n por las tecnolog铆as web. Me esfuerzo por estar al d铆a con las 煤ltimas tendencias y t茅cnicas en el campo de la programaci贸n web, y utilizo estos conocimientos para crear sitios web impresionantes. Me encanta experimentar y seguir mejorando en mi carrera como programador. Estoy emocionado de ver c贸mo evolucionar谩 mi trabajo en el futuro en el emocionante mundo de la programaci贸n web.
      </p>
    </div>
    <div class="flex justify-center shrink-0">
      <img
        class="h-60 rounded-full w-60 border-4 border-slate-700 object-cover"
        src="/images/ivan.jpg"
        alt="Ivan Martinez"
      />
    </div>
  </div>
</YellowBackground>
