<div>
  <h1 class="mt-24  mb-4 text-2xl">Hola, me llamo Ivan 👋</h1>
  <p>Soy un Desarrollador Web Front-end, mi pasion es aprender todo lo que tenga que ver con las tecnologias web. Siempre estoy buscando y aprendiendo nuevas formas de mejorar mi experiencia como programador.</p>
</div>
