<p class="font-bold text-lg my-6">Proyectos</p>

<a href="#" class="bg-gray-700 rounded-lg md:max-w-xl">
  <img src="" alt="">
  <div>
    <h5>Projects</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt voluptates laudantium eaque provident fugiat nobis ex doloribus nulla quaerat officia.</p>
  </div>
</a>