<p class="font-bold text-lg my-6">Proyectos</p>

<div class="bg-gray-700 p-4 rounded-lg max-w-xs">
  <a href="">
    <img src="" alt="" class="rounded-t-lg">
  </a>
  <div class="p-5">
    <a href="#">
      <h5 class="mb-2 text-lg font-bold tracking-tight text-white">Proyecto 1</h5>
      <p></p>
    </a>
  </div>
</div>