<p class="font-bold text-lg my-6">Proyectos</p>

<a href="#" class="flex flex-col bg-gray-700 rounded-lg md:max-w-xl">
  <img src="" alt="">
  <div>
    <h5 class="mb-2 text-lg font-bold text-white">Projects</h5>
    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt voluptates laudantium eaque provident fugiat nobis ex doloribus nulla quaerat officia.</p>
  </div>
</a>