---
import Nextjs from "./logos/Nextjs.astro";
import React from "./logos/React.astro";
import Tecno from "./Tecno.astro";
import LogoAstro from "./logos/Astro.astro"
---

<p class="font-bold my-8">Stack Tecnológico</p>

<div class="bg-gray-800 p-4 rounded-lg">
  <div class="flex text-sm">
    <Tecno title="React">
      <React />
    </Tecno>
    <Tecno title="Nextjs">
      <Nextjs />
    </Tecno>
    <Tecno title="Astro">
      <LogoAstro />
    </Tecno>
  </div>
</div>
