---
import Nextjs from "./logos/Nextjs.astro";
import React from "./logos/React.astro";
import Tecno from "./Tecno.astro";
import LogoAstro from "./logos/Astro.astro";
---

<p class="font-bold text-lg my-6">Stack Tecnológico</p>

<div
  class="h-[500px] w-auto bg-no-repeat bg-center bg-contain bg-[url('/images/p20.png')] md:bg-[url('/images/laptop.png')]"
>
  <div class="p-12 flex justify-center text-sm">
    <Tecno title="React">
      <React />
    </Tecno>
    <Tecno title="Nextjs">
      <Nextjs />
    </Tecno>
    <Tecno title="Astro">
      <LogoAstro />
    </Tecno>
  </div>
</div>
