---
import Nextjs from "./logos/Nextjs.astro";
import React from "./logos/React.astro";
---
<p class="font-bold my-8">Stack Tecnológico</p>
<div
  class="p-4 w-full text-center bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700"
>
  <div
    class="justify-center items-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4"
  >
    <a
      href="#"
      class="w-full sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600"
    >
      <div class="h-8 w-8 mr-2">
        <React />
      </div>
      <div class="text-left">
        <div class="-mt-1 font-sans text-sm font-semibold">React</div>
      </div>
    </a>
    <a
      href="#"
      class="w-full sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600"
    >
      <div class="h-8 w-8 mr-2">
        <Nextjs />
      </div>
      <div class="text-left">
        <div class="-mt-1 font-sans text-sm font-semibold">Nextjs</div>
      </div>
    </a>
    
  </div>
</div>
