---
const {title} = Astro.props
---

<a href="" class="text-white px-3">
  <div class="flex flex-col items-center">
    <div class="w-8 h-8 sm:w-12 sm:h-12">
      <slot />
    </div>
    <div class="pt-1">
      {title}
    </div>
  </div>
</a>