---
const {title} = Astro.props
---

<a href="" class="text-white pr-5">
  <div class="flex flex-col items-center">
    <div class="w-8 h-8 mb-1">
      <slot />
    </div>
    <div>
      {title}
    </div>
  </div>
</a>